.SubNav{
    display: block;
    background-color: #703b09;
    
}
.SubNav_li{        
    width:100% ;
    margin-left: -20px;   
    margin-right: 20px; 
    position: relative; 
    border:none;
    display: block;    
    overflow: hidden;
    cursor: pointer;
    color:white;
}
.SubNav_li button{
    width:100%;   
    display: inline-block;
    background-color: transparent;
    border:none;
    color: white;
    border-bottom: 4px solid rgb(129, 67, 67);
}
.SubNav_li:hover button{    
    background-color: white;
    color:#703b09; 
    border-bottom: 4px solid #e7e0da;

}
a{ 
    display: block;
    width:100%;   
    text-decoration: none;
    font-size: 17px;
    color : inherit;
    
}




@media(min-width:500px){
    .SubNav{
        display: block;
        background-color: #703b09;
        
    }
    .SubNav_li{        
        width:100% ;
        margin-left: -20px;    
        position: relative; 
        border:none;
        display: block;    
        overflow: hidden;
        cursor: pointer;
        color:white;
    }
    .SubNav_li button{
        width:100%;   
        display: inline-block;
        background-color: transparent;
        border:none;
        color: white;
        border-bottom: 4px solid rgb(129, 67, 67);
    }
    .SubNav_li:hover button{    
        background-color: white;
        color:#703b09; 
        border-bottom: 4px solid #e7e0da;
    
    }
    a{ 
        display: block;
        width:100%;   
        text-decoration: none;
        font-size: 17px;
        color : inherit;
        
    }
 
 
}
