.List {
  display: block;
  width: 80%;
  margin: auto;
  height: auto;
  /* background-color: lightgrey; */
  border-radius: 10px;
}
.Title {
  text-align: center;
  background-color: goldenrod;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  /* right: 12px; */
}
.Form {
  /* float: left; */
  /* margin-right: 5%; */
  /* border:1px solid orange;    */
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 10px;
}
/* .cover{
    border-right: 1px solid gray;    
} */
.Table {
  /* border: 5px solid black; */
  display: inline-grid;
  /* margin-right: 5%; */
  border-collapse: collapse;
}
.Submit {
  background: orange;
  margin-top: -20px;
  margin-bottom: 20px;
}

.Popup {
  z-index: 200;
  position: fixed;
  /* width: 100%; */
  /* top: 8px; */
  /* right: 1px; */
  top: 50px;
  left: 100px;
  width: auto;
  margin: auto;
}
